@import url('https://fonts.googleapis.com/css?family=Cinzel:900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');

body{
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color: #505962
}

.navbar {
  background: rgba(255,255,255,1);
}

.navbar-brand img{
  height: 2rem;
  /* margin: auto;
  border:0.095rem solid black; */
}

.navbar-brand{
  height: 2rem;
  font-family: 'Kaushan Script', cursive;
  color: #000000;
}

.video-background {
  position: relative;

  width: 100%;
  min-height: 100vh;
  background-color: rgba(0,0,0,0.15)
}

.heading {
  position: absolute;
  top: 40%;
  width: 100%;
  color: white;
}

.heading h1{
  font-size: 5rem;
  font-family: 'Cinzel', serif;
  letter-spacing: 1vw;
  text-shadow: .1rem .1rem .8rem black;
}

.heading h5{
  font-size: 1.5rem;
  font-family: 'Cormorant Garamond', serif;
  letter-spacing: 0.2vw;
  font-weight: bold;
  color: #F5563E;
  text-shadow: .1rem .1rem .2rem black;
}

/*============= COURSE SECTION =============*/

.col-md-8 {
  margin: 2rem auto 8rem;
  padding-top: 0.5rem;
}
.col-md-8 h1 {
    font-size: 2.4rem;
    color: black;
  }


@media (max-width:500px){
  .heading h1{
    font-size: 2.4rem;
    font-family: 'Cinzel', serif;
    letter-spacing: 0.5vw;

  }

  .heading h5{
    font-size: 1.2rem;
    font-family: 'Cormorant Garamond', serif;
    letter-spacing: 0.05vw;
    color: white;


  }

}


============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============
